<script setup>
import { ref } from "vue";

// Reactive variables
let todoList = ref([]); // Stores todos
let todo = ref(null); // Current todo being added or updated
let description = ref(null); // Description of the current todo
let dueDate = ref(null); // Due date of the current todo
let selectedTodo = ref(null); // Selected todo for update

// Function to add a new todo
const addTodo = () => {
	if (validateTodo(todo.value)) {
		let id = todoList.value.length;
		todoList.value.push({
			id: ++id,
			todo: todo.value,
			description: description.value,
			dueDate: dueDate.value,
			is_done: false,
		});
		todo.value = description.value = dueDate.value = null;
	}
};

// Function to validate the todo
const validateTodo = (new_todo) => {
	let index = todoList.value.findIndex((t) => t.todo === new_todo);
	if (index !== -1 && (!selectedTodo.value || selectedTodo.value.id !== todoList.value[index].id)) {
		alert("Todo already exist!");
		return false;
	} else {
		return true;
	}
};

// Function to select a todo for update
const selectTodo = (row) => {
	selectedTodo.value = row;
	todo.value = row.todo;
	description.value = row.description;
	dueDate.value = row.dueDate;
};

// Function to update a selected todo
const updateTodo = () => {
	if (validateTodo(todo.value)) {
		let index = todoList.value.findIndex((t) => t.id === selectedTodo.value.id);
		if (index !== -1) {
			todoList.value[index].todo = todo.value;
			todoList.value[index].description = description.value;
			todoList.value[index].dueDate = dueDate.value;
		}

		todo.value = description.value = dueDate.value = selectedTodo.value = null;
	}
};

// Function to mark a todo as done
const markAsDone = (row) => {
	if (confirm(`Are you sure you want to mark ${row.todo} as done?`)) {
		let index = todoList.value.findIndex((t) => t.id === row.id);
		index !== -1 && (todoList.value[index].is_done = true);
	}
};

// Function to remove a todo
const removeTodo = (row) => {
	if (confirm(`Are you sure you want to delete ${row.todo}?`)) {
		let index = todoList.value.findIndex((t) => t.id === row.id);
		index !== -1 && todoList.value.splice(index, 1);
	}
};
</script>

<template>
	<!-- Main container -->
	<div class="d-flex justify-content-center container">
		<div class="w-75">
			<!-- Form for adding or updating a todo -->
			<form @submit.prevent="!selectedTodo ? addTodo() : updateTodo()">
				<div class="mb-3 mt-5">
					<label for="todo">What's your todo?</label>
					<div class="d-flex">
						<input v-model="todo" type="text" class="form-control" id="todo" placeholder="eg. Create todo application" />
						<!-- Buttons for adding or updating a todo -->
						<button v-if="!selectedTodo" class="btn btn-primary ms-3"><i class="bi bi-plus-circle-fill"></i></button>
						<button v-else class="btn btn-primary ms-3"><i class="bi bi-pencil-square"></i></button>
					</div>
					<div class="mt-3">
						<label for="description">Description</label>
						<input v-model="description" type="text" class="form-control" id="description" placeholder="eg. Description of the todo" />
					</div>
					<div class="mt-3">
						<label for="dueDate">Due Date</label>
						<input v-model="dueDate" type="date" class="form-control" id="dueDate" />
					</div>
				</div>
			</form>
			<!-- List of todos -->
			<div @click="selectTodo(row)" v-for="row in todoList" :key="row.id" class="toast show mt-2 w-100">
				<div class="toast-header">
					<!-- Todo item -->
					<strong class="me-auto">{{ row.todo }}</strong>
					<!-- Buttons for marking a todo as done and removing a todo -->
					<button :class="`btn btn-${row.is_done ? 'success' : 'outline-secondary'} btn-sm`" @click.stop="markAsDone(row)"><i class="bi bi-check-lg"></i></button>
					<button class="btn btn-danger btn-sm ms-1" @click.stop="removeTodo(row)"><i class="bi bi-trash-fill"></i></button>
				</div>
				<div class="toast-body">
					<!-- Todo description -->
					<p>{{ row.description }}</p>
					<!-- Todo due date -->
					<p v-if="row.dueDate">Due Date: {{ row.dueDate }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped></style>
